<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pa="http://primefaces.org/serenity">

	<p:ajaxStatus id="ajaxLoadingStatus">
		<f:facet name="start">
			<div class="axonivy-loader">
				<div class="spinner"></div>
				<h5>Loading...</h5>
			</div>
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>
</ui:composition>