<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
<h:body>
	<ui:composition template="/layouts/basic-8.xhtml">
		<ui:define name="title">Detail</ui:define>
		<ui:define name="content">

			<p:outputPanel rendered="#{ivy.session.sessionUser.fullName != null}"
				style="display:block; text-align:right">

				<p:outputLabel value="Welcome #{ivy.session.sessionUser.fullName}" />

				<p:commandLink value=" - logout"
					actionListener="#{ivy.session.logoutSessionUser()}"></p:commandLink>
			</p:outputPanel>

			<ic:motorbike.number.plate.MotorbikeNumberApprove
				motorbikePlateRequest="#{data.selectedRequest}" buttonName1="Reject"
				handler1="#{logic.rejectNumberPlateRequest}" buttonName2="Approve"
				handler2="#{logic.approveNumberPlateRequest}">
			</ic:motorbike.number.plate.MotorbikeNumberApprove>

		</ui:define>
	</ui:composition>
</h:body>
</html>