<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:body>
	<ui:composition template="/layouts/basic-8.xhtml">
		<ui:define name="title">MotorbikeNumberRequestList</ui:define>
		<ui:define name="content">
			<h:form>

				<p:dataTable id="plateNumberRequests" value="#{data.motorbikePlateNumberRequests}"
					var="pendingRequest">

					<p:column headerText="Created At">
						<h:outputText value="#{pendingRequest.createdAt}" />
					</p:column>

					<p:column headerText="Bike owner">
						<h:outputText value="#{pendingRequest.bikeOwner.fullname}" />
					</p:column>

					<p:column headerText="Bike owner Id">
						<h:outputText value="#{pendingRequest.bikeOwner.idNumber}" />
					</p:column>

					<p:column headerText="Bike type">
						<h:outputText value="#{pendingRequest.motorbike.motorbikeType}" />
					</p:column>

					<p:column headerText="Plate number">
						<h:outputText value="#{pendingRequest.motorbike.plateNumber}" />
					</p:column>


					<p:column headerText="Action">
						<p:commandButton action="#{logic.view(pendingRequest)}"
							value="View" update="plateNumberRequests">
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>