<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:body>
	<ui:composition template="/layouts/basic-8.xhtml">
		<ui:define name="title">Login</ui:define>
		<ui:define name="content">

			<h3>Hi officer, please input your user name and passwords</h3>

			<h:form id="form">
				<p:messages />
				<p:panelGrid columns="2" layout="grid"
					styleClass="ui-panelgrid-blank"
					columnClasses="ui-g-12 ui-md-3 ui-lg-2, 
						ui-g-12 ui-md-9 ui-lg-4, 
						ui-g-12 ui-md-3 ui-lg-2, 
						ui-g-12 ui-md-9 ui-lg-4">

					<p:outputLabel>User name</p:outputLabel>
					<p:inputText value="#{data.username}"></p:inputText>

					<p:outputLabel>Passwords</p:outputLabel>
					<p:password value="#{data.passwords}"></p:password>

				</p:panelGrid>
				<div class="command-btns">
					<p:commandButton id="proceed"
						actionListener="#{logic.login}" value="Login"
						update="form" icon="ui-icon-lock" />
				</div>
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>