<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
<h:body>

	<cc:interface>
		<cc:attribute name="buttonName1"></cc:attribute>
		<cc:attribute name="buttonName2"></cc:attribute>
		<cc:attribute name="bean" type="java.lang.Object"></cc:attribute>
		<cc:attribute name="handler1" method-signature="void handler1()"></cc:attribute>
		<cc:attribute name="handler2" method-signature="void handler2()"></cc:attribute>
		<cc:attribute name="motorbikePlateRequest" type="java.lang.Object"></cc:attribute>
	</cc:interface>

	<cc:implementation>

		<h:form id="form" styleClass="ui-fluid">
			<p:messages>
				<p:autoUpdate />
			</p:messages>

			<p:panelGrid>
				<p:row>
					<p:column colspan="6">
						<p:fieldset
							legend="#{ivy.cms.co('/Properties/personal.information.fieldset.title')}"
							styleClass="ui-fluid">
							<p:panelGrid columns="2" layout="grid">
								<p:outputLabel for="piFullName"
									value="#{ivy.cms.co('/Properties/personal.information.fullname.label')}" />
								<p:inputText id="piFullName" disabled="true"
									value="#{cc.attrs.motorbikePlateRequest.bikeOwner.fullname}"
									required="true" />

								<p:outputLabel for="piID"
									value="#{ivy.cms.co('/Properties/personal.information.id.label')}" />
								<p:inputText id="piID" disabled="true"
									value="#{cc.attrs.motorbikePlateRequest.bikeOwner.idNumber}"
									required="true" />

								<p:outputLabel for="piBirthDay"
									value="#{ivy.cms.co('/Properties/personal.information.birthday.label')}" />
								<p:datePicker id="piBirthDay" disabled="true"
									value="#{cc.attrs.motorbikePlateRequest.bikeOwner.birthday}"
									showTime="false" required="true" />

								<p:outputLabel for="piEmail"
									value="#{ivy.cms.co('/Properties/personal.information.email.label')}" />
								<p:inputText id="piEmail" disabled="true"
									value="#{cc.attrs.motorbikePlateRequest.bikeOwner.email}" />

								<p:outputLabel for="piAddress"
									value="#{ivy.cms.co('/Properties/personal.information.address.label')}" />
								<p:inputTextarea id="piAddress" disabled="true"
									value="#{cc.attrs.motorbikePlateRequest.bikeOwner.address}"
									required="true" />
							</p:panelGrid>
						</p:fieldset>

					</p:column>
					<p:column colspan="6">
						<p:fieldset
							legend="#{ivy.cms.co('/Properties/motobike.information.fieldset.title')}">
							<p:panelGrid columns="2" layout="grid">

								<p:outputLabel for="miType"
									value="#{ivy.cms.co('/Properties/motobike.information.type.label')}" />
								<p:selectOneMenu id="miType" required="true" disabled="true"
									value="#{cc.attrs.motorbikePlateRequest.motorbike.motorbikeType}">
									<f:selectItem itemLabel="Airblade 2016"
										itemValue="Airblade 2016" />
									<f:selectItem itemLabel="Airblade 2018"
										itemValue="Airblade 2018" />
									<f:selectItem itemLabel="Airblade 2019"
										itemValue="Airblade 2019" />
									<f:selectItem itemLabel="Airblade 2020"
										itemValue="Airblade 2020" />
									<f:selectItem itemLabel="Airblade 2021"
										itemValue="Airblade 2021" />
									<f:selectItem itemLabel="Airblade 2022"
										itemValue="Airblade 2022" />
								</p:selectOneMenu>

								<p:outputLabel for="miChassisNumber"
									value="#{ivy.cms.co('/Properties/motobike.information.chassis.number.label')}" />
								<p:inputText id="miChassisNumber" disabled="true"
									value="#{cc.attrs.motorbikePlateRequest.motorbike.chassisNumber}"
									required="true" />

								<p:outputLabel for="miChassisFrameNumber"
									value="#{ivy.cms.co('/Properties/motobike.information.chassis.frame.label')}" />
								<p:inputText id="miChassisFrameNumber" disabled="true"
									value="#{cc.attrs.motorbikePlateRequest.motorbike.chassisFrameNumber}"
									required="true" />

								<p:outputLabel for="miDescription"
									value="#{ivy.cms.co('/Properties/motobike.information.description.label')}" />
								<p:inputTextarea id="miDescription" disabled="true"
									value="#{cc.attrs.motorbikePlateRequest.motorbike.description}" />
							</p:panelGrid>
						</p:fieldset>
					</p:column>
				</p:row>


				<p:row>
					<p:column colspan="12">
						<p:fieldset
							legend="#{ivy.cms.co('/Properties/request.number.plate.fieldset.title')}">

							<p:outputLabel
								style="display: block; text-align: center; font-size: 2rem"
								rendered="#{cc.attrs.motorbikePlateRequest.motorbike.plateNumber != null}"
								value="#{cc.attrs.motorbikePlateRequest.motorbike.plateNumber}">
							</p:outputLabel>

							<div style="position: relative; text-align: center">
								<!-- Generate (button) -->
								<p:commandButton
									style="width: 6rem; display: inline-block; margin: 0.5rem"
									value="#{ivy.cms.co('/Properties/approval.number.plate.reject.button.label')}"
									action="#{cc.attrs.handler1}" update="form" immediate="true">
								</p:commandButton>

								<!-- Submit (button) -->
								<p:commandButton
									style="width: 6rem; display: inline-block; margin: 0.5rem"
									value="#{ivy.cms.co('/Properties/approval.number.plate.approve.button.label')}"
									action="#{cc.attrs.handler2}" update="form">
								</p:commandButton>
							</div>
						</p:fieldset>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
	</cc:implementation>
</h:body>
</html>