<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:attribute name="primefaces.THEME" value="serenity-ivy" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><ui:insert name="title">Ivy Html Dialog</ui:insert></title>
	<link rel="shortcut icon"
		href="#{resource['ivy-webcontent:layouts/images/ivy_favicon_48.png']}" />
	<h:outputStylesheet name="css/layout-ivy.css" library="serenity-layout" />
	<h:outputStylesheet name="layouts/styles/ivy-common-8.css" />
	<h:outputStylesheet name="layouts/styles/progress-loader.css" />
</h:head>
<h:body>
	<ui:include src="/layouts/includes/progress-loader.xhtml" />
	<ui:insert name="header">
		<div class="navbar navbar-top">
			<div class="container" id="headerdiv">
				<div class="navbar-header" style="position: relative">
					<a class="ivy-logo" style="display: inline-block; width: 14rem"
						href="https://developer.axonivy.com"> <h:graphicImage
							name="layouts/images/axon_ivy_logo.svg" alt="Axon.ivy" />
					</a>
					<div
						style="display: inline-block; font-size: 2rem; width: 60%; text-align: center">
						iMOTORBIKE NUMBER PLATE</div>
				</div>
			</div>
		</div>
	</ui:insert>

	<div id="content" class="container">
		<ui:insert name="content">
      default content
    </ui:insert>

		<ui:insert name="footer">
			<hr />
			<footer>
				<ui:include src="/layouts/includes/footer.xhtml" />
			</footer>
		</ui:insert>
	</div>

	<ui:insert name="exception">
		<ui:include src="/layouts/includes/exception.xhtml" />
	</ui:insert>
</h:body>
</html>